.app {
  margin: 0;
  /* display: flex;
  justify-content: center; */
  position: absolute;
  left: 10%;
  right: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
